
[cssbot]
; for every subreddit listed here there needs to be a section below with further params
subreddits: sub1,sub2

[mongo]
uri: cssbot ;or mongodb://localhost:27017/cssbot
collection: threads

[reddit]
throttle: 3
num_retries: 3
retry_delay_sec: 15
user: USERNAME
password: PASSWORD

[sub1]
maxage: 259200  ; 3 days
words: solved,found
moderators: alice,bob,charlie
style_selector: a.title:before
style_rule: { content: url(%%%%tick%%%%); background-position: 0px 0px; display: inline-block; padding: 2px; }

[sub2]
maxage: 86400 ; 1 day
words: completed,thank you,woohoo,finished
moderators: dave
style_selector: a.title:link
style_rule: { color: green }

